{% extends "layout.html" %} {% block content %}

<form
  action="/chat"
  method="POST"
  class="flex flex-col justify-center items-center"
>
  <img
    src="https://img.freepik.com/free-vector/chatbot-chat-message-vectorart_78370-4104.jpg"
    alt=""
    class="max-w-sm rounded-lg"
  />
  <div class="flex w-full justify-center">
    <input
      type="text"
      name="question"
      placeholder="Ask here"
      class="input input-bordered w-full max-w-xl"
      value="{{ques}}"
    />
    <input type="submit" class="btn btn-primary text-xl ml-2" value="Ask!" />
  </div>
  {% if res %}
  <div class="text-xl mt-8 w-1/2">{{res}}</div>
  {% endif %}
</form>

{% endblock %}
