{% extends "layout.html" %} {% block content %}

<div class="hero min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="https://miro.medium.com/v2/resize:fit:1358/1*CKhW7N0FsgNbQke50QhBGw.png"
      class="max-w-lg rounded-lg shadow-2xl"
    />
    <div>
      <h1 class="text-6xl font-bold">Welcome to Flipkart</h1>
      <h1 class="text-6xl font-bold">QA AI Bot!</h1>
      <p class="text-2xl py-6">
        Our AI-powered assistant, powered by FLAN T5, can answer all your
        questions and more. Ask away and experience a faster, smoother shopping
        experience on Flipkart!
      </p>
      <button class="btn btn-primary text-xl">
        <a href="/chat"> Get Started </a>
      </button>
    </div>
  </div>
</div>

{% endblock %}
